
<!--<div class="ticket_container">-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 margin-bottom-20">
        <input type="search" class="form-control" id="input-search" placeholder="Search Tasks..." >
      </div>
    </div>
        <div class="row">
<div class="searchable-container">
  <% @tasks.each do |task| %>
    <%= link_to edit_admin_task_path(task) do %>
          <div class="items col-xs-12 col-sm-12 col-md-12 col-lg-6 clearfix test">
          <!--  <%= link_to admin_task_path(id: task.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span  class="delete"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span>
            <% end %>-->
               <div class="info-block block-info clearfix" style="border-right-color:#0FBD44;"><!--ovdje ide generisana boja-->
                  <div class="square-box pull-left">
                         <i class="fa fa-user fa-5x"></i>
                         <span class="username truncate"><%= task.user.first_name %></span>
                  </div>
                  <div class="info-box pull-right">
                    <h5 class="name1 truncate">Completed: <%= task.parcent_done%>%</h5>
                    <h4>Name: <%= task.name %></h4>
                    <p class="name1 truncate">Description: <%= task.description %></p>
                    <p>Estimate: <%= task.estimate %></p>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        for (i = 0; i < $(".info-block").length; i++) { 
            var h = $(".info-block")[i].offsetHeight;
            $(".square-box")[i].style.height = h + "px";
          }
          
        </script>