<%= form_tag(resource_report_admin_tasks_path, :method => "get", remote: true) do %>
  <%= label_tag 'name', 'Date From:' %>
  <%= text_field_tag :date_from, params[:date_from], class: 'datepicker'  %>
  <%= label_tag 'name', 'Date To:' %>
  <%= text_field_tag :date_to, params[:date_to], class: 'datepicker' %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div id='resource_search_results'>
</div>