<%= form_tag(time_report_admin_tasks_path, :method => "get") do %>
  <%= label_tag 'name', 'Date From:' %>
  <%= text_field_tag :date_from, params[:date_from], class: 'datepicker'  %>
  <%= label_tag 'name', 'Date To:' %>
  <%= text_field_tag :date_to, params[:date_to], class: 'datepicker' %>
  <%= submit_tag "Search", :name => nil %>
<% end %>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" style="display:none;">
                <span class="glyphicon glyphicon-ok"></span> Drag table row and cange Order</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Task Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created at
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <% @tasks.each do |task| %>
                    <tr>
                        <td>
                            <%= task.name %>
                        </td>
                        <td>
                            <%= task.description %>
                        </td>
                        <td>
                           <%= task.created_at.strftime("%d/%m/%Y") %> 
                        </td>
                    </tr> 
                    <% end %>            
                </tbody>
            </table>
        </div>
    </div>
</div>
