<div class="container">
  <div class="row task_form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">Create new user</div>
          <div class="panel-body">
            <%= form_for :user, url:admin_users_path do |f| %>
              <fieldset>
                <div class="form-group">
                  <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
                </div>
                 <div class="form-group">
                  <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :password, class: "form-control", placeholder: "Password" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
                </div>  
                <div class="form-group">
                  <%= f.collection_select :user_type_id, UserType.all, :id, :name, {prompt: 'Select user type'}, {class: "form-control" } %>
                </div>
                <div class="form-group">
                	<%= f.submit 'Save', {class: "btn btn-primary" }  %>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
</div>



 
 <a href='JavaScriptTest' onclick='alert("Inline Javscript")'>Link</a>


 <script>
$('JavaScriptTest').bind('click', function() {
    alert('Unobtrusive!');
}
</script>